<template>
    <div class="row sec_comentarios">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="ca panel-heading">
                    <b>Comentarios</b> 
                    <strong class="pull-right">En línea {{ this.count}}</strong>
                </div>
                <div class="panel-body">
                	<div class="list-group" v-for="comment in comments">
                		<div class="list-group-item">
                			<div class="row-picture">
                				<img class="circle" :src="comment.user.avatar" alt="icon">
                			</div>
                			<div class="row-content">
                				<h4 class="list-group-item-heading">{{ comment.user.name}} </h4>
                                <small class="pull-right">{{ comment.created_at}}</small>
                				<p class="list-group-item-text">
                                    {{ comment.comment}}            
                                </p>
                                
                			</div>
                		</div>
                		<div class="list-group-separator"></div>
                	</div>
                </div>
                <div class="panel-footer">
                    <div class="input-group" v-if="this.requisition.status != 7">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Escriba su comentario..." v-model="comment" @keyup.enter="postComment()"  />
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-raised" id="btn-chat" @click.prevent="postComment()">
                                Enviar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user', 'requisition'],
        data() {
            return {
                viewers: [],
                comments: [],
                comment: '',
                count: 0,
            }
        },
        mounted() {
            this.listen();
            this.getComments();
            
        },
        methods: {
            getComments() {
                axios.get('/api/requisitions/'+this.requisition.id+'/comments', {})
                .then((response) => {
                    this.comments = response.data;
                });
            },
            postComment() {
                axios.post('/api/requisitions/'+this.requisition.id+'/comment', {
                    comment: this.comment
                })
                .then((response) => {
                    this.comment = '';
                    this.comments.unshift(response.data);
                });
            },
            listen() {
                Echo.join('requisition')
                .here(users => {
                    this.count = users.length
                })
                .joining(user => {
                    this.count++
                })
                .leaving(user => {
                    this.count--
                })
                .listen('NewComment', (e) => {
                    this.comments.unshift(e);
                });
            }
        }
    }
</script>
