<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Realtime counter users</div>

                    <div class="panel-body">
                        <p>Online now</p>
                        <h1>{{ this.count}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                count: 0
            }
        },
        mounted() {
            this.listen();
        },
        methods: {
            listen() {
                Echo.join('counter')
                .here(users => this.count = users.length)
                .joining(user => this.count++)
                .leaving(user => this.count--);
            }
        }
    }
</script>
