<template>
	<div>
		
	</div>
</template>

<script>
	export default {
		mounted() {
			this.listen()
		},
		props: ['id'],

		methods: {
			listen() {
				Echo.private('App.User.' + this.id)
					.notification((notification) => {

						new Noty({
                                type: 'success',
                                layout: 'topRight',
                                text:notification.message,
                                timeout:5000,
                                progressBar:true,
                                closeWith:['click','button'],
                                animation: {
                                    open:'noty_effects_open',
                                    close: 'noty_effects_close'
                                },

                            }).show();
						this.$store.commit('add_not', notification)
						document.getElementById("noty_audio").play()
					})
			}
		}
	}
</script>