

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
}

#logo {
  text-align: center;
  margin-bottom: 20px;
}

#logo img {
  width: 50%;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url('/images/dimension.png');
}

#project {
  text-align: left;
  font-size: 1.1em;
}

#project span {
  color: #5D6975;
}

.sec_table{
  margin: 2em 0;
}

table{
  width: 100% !important;
}

table th{
  background: #eeeeee;
}

table, th, td {
    border: 1px solid #cccccc;
    padding: .5em ;
    border-collapse: collapse;
}

.sec_total{
    border-bottom: 1px solid #cccccc;
  text-align: right;
  font-size: 1.2em;
  padding: .5em 0;
  padding-right: 1em;
}


footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}