/*azul : #2181be*/
/*azul_2 : #1ccacc*/


a {
  color: #ffffff;
}

hr {
  background: #dddddd;
  border: 0 !important;
  height: .1em;
  margin: .5em 0 2em !important;
  width: 100%;
}

.cambio {
  transition: all .3s ease-out;
}

.sec_ttls h2 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 0 !important;
}

.sec_acciones {
  background: #dddddd;
}

.form-group {
  padding-bottom: 0;
  margin: .5em 0 ;
}

.btn-primary{
  background: #2181be !important;
  color: #ffffff !important;
}

.btn-primary:hover{
  background: #666 !important;
}

.btn-text,.btn_detalles{
  color: #2181be !important;
}

.panel.panel-primary > .panel-heading {
    background-color: #555555 !important;
}

.table > tbody > tr > td{
    padding: 0 8px;
    line-height: 1.6;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.tab-content .table > tbody > tr > td{
    padding: 1em 8px;
}

.requisitions .sec_toolbar{
  padding: 1em 0;
}

.nav-tabs {
  background: transparent !important;
}

.nav-tabs > li {
    margin-bottom: 0 !important;
    background: #333333;
    border-radius: .75em .75em 0 0 !important;
}

.nav-tabs > li:hover {
  background: #2181be;
}

.tab-content{
  background: #ffffff;
}

.sec_toolbar{
  margin: 0 0 2em;
  border-radius: .25em;
}

.groups_bottom{
  margin-bottom: 3em;
}

.btn-group, .btn-group-vertical {
    margin: 0; 
}

.new_user .form-control {
    height: 25px;
    line-height: 0;
}

.m_footer{
  margin-right: 2em;
}

textarea.form-control {
    height: 5em !important;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#2181be, #2181be), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
}

.btn_options {
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 5px;
    margin: 7px 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
}

.btn_options:hover {
    background: #dedede;
}

.caja_out{
  width: 100%;
  overflow: auto;
}

.caja_in{
  width: 100%;
  min-width: 1090px;
}

.new_req .form-group {
    margin: 1.75em 0 !important;
}

.field{
  width: 90px !important;
}

.sec_notas{
  margin: .5em 0;
}

.notas{
  font-size: 1.3em;
  border-right: .10em dashed #aaaaaa;
  font-weight: 400;
  padding: 1em 0;
}

.notas:hover{
  background: #eee;
}

.notas:last-child{
  border: 0;
}

.notas i{
  font-size: 2em;
  cursor: pointer;
}

.sec_comentarios{
  margin: 1em 0 3em;
}

table form{
  display: inline !important;
  vertical-align: middle;
}




header {
  position: fixed !important;
  top: 0;
  right: 0;
  padding: 0 !important;
  width: 80%;
  z-index: 99;
}

header .navbar {
  background: #2181be !important;
  margin: 0;
}

header .navbar-nav {
  float: right;
  margin: 0 !important;
}

.navbar .navbar-nav > li > a {
  padding: .5em 0;
}

.circle_avatar {
  border-radius: 50%;
  height: 45px;
  border: .2em solid #ffffff;
}

.btn_close{
  margin-right: .35em;
  cursor: pointer;
}






.btn_menu {
  padding: .5em 0;
  cursor: pointer;
  font-size: 2em;
}

.sec_menu {
  background: #222222 !important;
  left: 0%;
  height: 100%;
  padding: 0 !important;
  position: fixed;
  top: 0;
  z-index: 9;
  overflow: auto;
  width: 20%;
}

.sec_menu .panel {
  background: transparent !important;
  box-shadow: none;
}

.logo_menu{
  height: 40px;
}

.sec_menu .panel-heading {
  background: #1574b1 !important;
  border-radius: 0 !important;
  padding: .66em 0;
}

.sec_menu .panel .panel-body {
  padding: 0;
}

.sec_welcome{
  background: #131a1f;
  padding: 1em 0;
  border-bottom: .1em solid #333333;
  margin: 0;
  margin-bottom: .25em;
}

.sec_welcome h4,
.sec_welcome h5{
  margin: .25em 0 !important;
  font-weight: 300;
  color: #666;
}

.sec_welcome h4{
  font-weight: 400;
  color: #ffffff;
  font-size: 1.1em;
}

.sec_dashboard {
  float: right;
  position: relative;
  width: 80%; 
  margin-top: 6%; 
  overflow: hidden;
}

.collection-item {
  color: #a4aaad;
  border-left: .4em solid transparent;
  padding: 10px !important;
}

.collection-item:hover,
.collection-item:focus {
  color: #ffffff;
  background: #333333 !important;
  border-left: .4em solid #2181be;
  border-radius: 0 !important;
}

.active{
    background: #2181be !important;
}

.actual{
  color: #ffffff;
  background: #333333 !important;
  border-left: .4em solid #2181be;
  border-radius: 0 !important;
}

tbody,
thead{
  background: #ffffff !important;
}


/*--- SEC INICIO ---*/

.view_inicio .form-group.is-focused label,
.view_inicio .form-group.is-focused label.control-label{
  color: #ffffff;
}

.view_inicio .checkbox .checkbox-material .check, label.checkbox-inline .checkbox-material .check {
    border: 2px solid #eeeeee !important;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before, label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #ffffff;

}

.view_inicio .btn-link{
  color: #eeeeee !important;
}

.view_inicio{
  background: #0e1654 url('images/bg.jpg') no-repeat top center;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.view_inicio .div_view_inicio{
  padding-top: 4%;
  text-align: center;
  color: #eeeeee;
  width: 60%;
  margin: 0 auto;
}

.view_inicio .div_view_inicio img{
  height: 90px;
}

.view_inicio  h3{
  font-weight: 400;
  margin: 12px 0 !important;
  color: #eeeeee;

}

.sec_view_inicio .panel {
  background: rgba(0,0,0,.4) !important;
  border-radius: 1em; 
}



/*---- RWD ----*/
@media screen and (max-width: 768px){
  .sec_dashboard {
      margin-top: 10%;
  }

  .view_inicio .div_view_inicio{
    padding-top: 4%;
    text-align: center;
    color: #eeeeee;
    width: 90%;
    margin: 0 auto;
  }
  
  .view_inicio .div_view_inicio img{
    height: 75px;
  }
  
  header,
  .sec_dashboard{
    width: 100%;
  }

  .navbar{
    padding: 0 1em;
  }

  .sec_menu {
    left: -100%;
    width: 50%;
  }

  .navbar-nav .open .dropdown-menu{
    position: absolute;
    background: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    margin-top: 0;
    color: #333333;
  }

}

@media screen and (max-width: 520px){
  .sec_dashboard {
      margin-top: 15%;
  }
}

@media screen and (max-width: 360px){
  .sec_dashboard {
      margin-top: 20%;
  }
}